@tailwind base;
@tailwind components;
@tailwind utilities;

.marquee-container:hover .marquee-content {
  animation-play-state: paused;
}

:root {
    scroll-behavior: smooth!important;
}

html, body {
    scroll-behavior: smooth!important;
}

@font-face {
    font-family: quinn;
    src: url(ByteBounce.ttf);
  }


.marquee-content h1 {
color: white;
}


.gridsocial {
 justify-content: center;
 padding-left: 10px;
 padding-right: 10px;
}

.gridsocial  div{
    border: 3px solid black;
    width: 100%;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px!important;
    /* background: linear-gradient(rgba(0, 0, 0, 0.167), blue, #0095ff); */
    background: linear-gradient(rgb(0, 85, 255), #0095ff);

    color: white;
    text-shadow: 0 3px 6px black;
   
  
}

.gridsocial a {
    font-size: 30px;
/*   
    border: 3px solid black; */
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    /* min-width: 50px; */
  
}

.featwrap {
    max-width: 1400px;
    margin: auto;
    /* backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.featwrap h1 {
    color: white;
    font-size: calc(30px + 2vw)!important;
    text-align: center;
    text-shadow: 0 4px 8px black;
}

.featwrap img {
    padding-left: 30px;
    padding-right: 30px;
}

.featcontent {
    /* background: linear-gradient(rgb(0, 200, 255), rgba(0, 174, 255, 0), rgba(0, 174, 255, 0), rgb(0, 110, 255)); */
    background: linear-gradient(rgb(0, 51, 160), rgb(0, 110, 255));

    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    max-width: 1400px;
    margin: auto;
    border-radius: 20px;
    border: 4px solid rgb(0, 0, 0);
    padding: 30px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 40px rgb(0, 0, 0);
    min-width: 300px;

}

.featwrap p {
    text-shadow: 0 4px 8px black;
    color: white;
    
}

.topwrap {
    /* backdrop-filter: blur(65px);
    -webkit-backdrop-filter: blur(65px);
    */

    /* background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 200, 255), rgb(0, 110, 255));
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */

    /* background: linear-gradient(rgba(0, 174, 255, 0), rgb(0, 200, 255), rgb(0, 110, 255), rgba(0, 174, 255, 0)); */
    /* background: linear-gradient(rgb(0, 200, 255), rgba(0, 174, 255, 0), rgba(0, 174, 255, 0), rgb(0, 110, 255)); */
    /* backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); */
    max-width: 1400px;
    margin: auto;
    border-radius: 20px;
    /* border: 4px solid black; */
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
    
}

/* .mainwrap {
    background: linear-gradient(transparent,rgb(0, 110, 255));
} */


body {
    /* background: linear-gradient(#06a9d4,#78ccf0 ); */
    /* background: linear-gradient(#006eff ,#48bcff); */
    /* background: url(./pawbg2.jpg); */
background-color: #0095ff;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    overflow-x: hidden!important;
    font-family: quinn;
    font-weight: lighter;
    letter-spacing: 2px;
    background-size: cover;
    background-position: fixed;

     
}

.tkmicro p {
    /* font-family: sans-serif; */
    font-size: calc(30px + 1vw)!important;
    /* color: #0095ff; */
    text-shadow: 0 4px 8px black;
    
}

.tkmicro dt {
   
    font-size: calc(20px + 2vw)!important;
   text-align: center;
   
}

.tkmicro2 p {
    /* font-family: sans-serif; */
    font-size: calc(20px + 2vw)!important;
    color: #0095ff;
    text-shadow: 0 4px 8px black;
}

.tkmicro2 dt {
   
    font-size: calc(30px + 2vw)!important;
   text-align: center;
   color: white;
   text-shadow: 0 4px 8px black;

}


.wrapper {
    margin-left: 5vw;
    margin-right: 5vw;
    overflow-x: hidden!important;
    margin: auto;
}
.grid div {
    margin: auto;
  
  
}

button {
    font-size: calc(30px + 4vw)!important;
}

.vidwrap2 {
    object-fit: cover;
    position: absolute;
    min-height: 100vh;
    /* width: 100%; */
   


}
#hero-vid2 {
    /* max-width: 100%; */
    min-height: 100vh;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -999!important;
    -webkit-transform: translateZ(0);
    /* opacity: 70%; */
    /* position: absolute; */


    }


    .catxt {
        color: rgb(255, 255, 255)!important;
        font-size: 40px;
        text-align: center;
        /* border: 3px solid black; */
        border-radius: 20px;
        /* text-shadow: 0 4px 8px black; */
        text-shadow: 0 4px 8px rgb(0, 0, 0);
            

    }

    .cabtn {
        color: rgb(255, 255, 255)!important;
        font-size: 40px!important;
        text-align: center;
        /* border: 3px solid black; */
        border-radius: 20px;
        text-shadow: 0 4px 8px black;
        
    }


    @media (min-width: 767px) {

        .first p {
            color:rgb(255, 255, 255);
            font-size: calc(20px + 0.2vw)!important;
            /* text-shadow: 0 3px 6px black; */
           text-align: center;
        
        /*      
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px) ; */
           
            border-radius: 20px;
            text-shadow: 0 4px 8px black;
            
            
         
        }

}

@media (max-width: 767px) {

.smnone {
    display: none!important;
}

.smshow {
    display: block!important;
   
 }

}


@media (min-width: 767px) {

    .smnone {
       display: block!important;
      
    }

    .smshow {
        display: none!important;
    }


    
    
}


@media (max-width: 992px) {

    .largelogo {
        display:none;
    }

    .gridsocial div {
        max-width: 200px!important;
    }

    .socchange {
        max-width: 250px!important;
        min-height: 70px!important;
    }

    .socchange img {
        /* filter: drop-shadow(0 0 7px #000000)!important; */
        /* filter: drop-shadow(0 0 7px #ff00d0)!important; */
        width: 40px!important;
        height: auto;
        margin-right: 15px!important;
      
    
       
      }


      .vidwrap {
        width: 300px!important;
    }
    
    #vid {
        width: 300px!important;
        border-radius: 20px;
        /* box-shadow: 0 0 70px rgb(242, 0, 255); */
        border: 3px solid black;
        box-shadow: 0 0 70px rgb(0, 0, 0);
    }
      /* .mainb {
        filter: drop-shadow(0 0 20px black);
      } */

     

      .topwrap {
       border: none;
        border-radius: 0!important;
        /* background: linear-gradient(rgb(0, 110, 255),  rgba(0, 174, 255, 0), rgb(0, 110, 255))!important; */
        /* backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px) ; */

    }

    .first {
        padding: 20px!important;
    }

.topnav {
    font-size: 15px!important;
 
}


button {
    font-size: calc(20px + 3vw)!important;
}

.tkimg2 {
    margin-top: 50px;
    /* margin: auto!important; */
}

.tkimg3 {
    /* margin-top: 50px; */
    /* margin: auto!important; */
    max-width: 250px;
    text-align: center;
}


.logoimg {
    max-height: 45px!important;
    margin: 20px;
}

span {
    font-size: 15px!important;
    display:block;
    font-weight: lighter;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px; 
    min-height: 150px;
    min-width: 300px!important;
}

.catxt {
    font-size: 40px!important;
    
}

.cabtn {
    color: rgb(255, 255, 255)!important;
    font-size: 35px!important;
    text-align: center;
    /* border: 3px solid black; */
    border-radius: 20px;
    text-shadow: 0 4px 8px black;
    margin-top: 50px;
    margin-bottom: 50px;
}


.circle {
    max-width: 150px;
}

.bottomlg {
    max-width: 100px;
}

/* .vbbg {
    padding: 20px!important;
    
} */
.vbbg {
    /* background: linear-gradient(rgb(168, 0, 214), transparent, rgb(136, 0, 255)), url(./vbulge3.png); */
    background: linear-gradient(rgb(168, 0, 214), transparent, #0095ff), url(./vbulge3.png);

    background-size: cover;
    border-radius: 20px;
    /* border: 5px solid rgb(220, 0, 220); */
    padding: 30px;
    min-height: 100%;
    /* box-shadow: 0 0 20px rgb(220, 0, 220) ; */
    border: 5px solid rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: center!important;
    min-height: none!important;
    height: 100%;
}

strong {
    width: 100%;
}

}
/* 
video {
 
  width: calc(300px + 50vw)!important;
 
} */

h2 {
    color: white;
    text-shadow: 0 3px 6px black;
   

}

.mauto {
    margin: auto;
}

.gicon {
    width: calc(40px + 2vw);
    float: left;
    margin-right: 10px;
    

}

.tk {
    background:radial-gradient(transparent, #0095ff4b);
    padding: 20px;
    border-radius: 20px;
    border: 3px solid #000000;
    max-width: 1400px;
    margin:auto;
       
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px) ;
}


.giconsm {
    width: 50px;
    height: auto;
    /* float: left;
    margin-right: 20px; */
}



.logoimg {
    max-height: 75px;
    margin: 20px;
}

.inline {
    display: inline-block!important;
}

.second p {
    color: white;
    font-size: calc(16px + 1vw);
    text-shadow: 0 3px 6px black;
    min-width:300px;
   
}

.topnav {
    /* padding-left: 5vw;
        */
    font-size: calc(20px + 1vw);
    text-shadow: 0 3px 6px black;
    /* position: fixed; */
    /* z-index: 999; */
   
   
     
}

.rowimg img {
    max-height: 500px;
    margin:auto;
    mask-image: -webkit-linear-gradient( black,transparent);
}

.first p {
    color:rgb(0, 0, 0);
    font-size: calc(25px + 2vw);
    /* text-shadow: 0 3px 6px black; */
   text-align: center;

/*      
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px) ; */
   
    border-radius: 20px;
    /* text-shadow: 0 4px 8px black; */
    
    
 
}


.first2 p {
   color: #ffffff;
    text-shadow: 0 4px 8px black;;
    font-size: calc(20px + 0.4vw);
    /* text-shadow: 0 3px 6px black; */
   text-align: center;

     background: linear-gradient(rgb(20, 41, 200), transparent);
     border-radius: 20px;
     /* border: 4px solid rgb(255, 255, 255); */
     box-shadow:  0 0 20px black;
     
    padding: 20px;
    margin-top: 10px;
    
 
}


.subtitle {
    margin:auto!important;
    text-align: center;
 
    color: white;
    font-size: calc(24px + 1vw);
    text-shadow: 0 4px 8px black;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 700px;
}




.first2 {
    /* background:  url(./ejbgedit.png); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ejbgedit.png); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ethm1.jpg); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ejbg7.jpg); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0), transparent,rgba(0, 0, 0, 0), black), url(./ethm1.jpg); */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: url(./micro.png); */
    background-size: cover;
    padding:60px;
    /* border-radius: 20px; */
    /* border: 4px solid black; */
    max-width: 1400px;
    /* background: linear-gradient(transparent,rgb(0, 128, 255)); */
    /* background: linear-gradient(rgb(0, 174, 255), rgb(0, 200, 255), rgb(0, 110, 255)); */
margin: auto;
/* backdrop-filter: blur(55px);
-webkit-backdrop-filter: blur(55px); */
background: linear-gradient(rgba(0, 174, 255, 0),rgb(0, 110, 255), rgb(0, 200, 255),  rgba(0, 174, 255, 0));
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);

}

.roadmap {
    /* background: url(./pawmap.png)!important;
    background-size: cover;
    background-repeat: no-repeat; */
    box-shadow: 0 0 30px black;
    
}


.roadmap ul{
/* background-color: #b6d5ff; */
border-radius: 20px;
padding: 10px;
margin-top: 20px;
/* border: 3px solid #000000; */
/* backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(55px); */
/* box-shadow: 0 0 80px rgb(0, 10, 117); */
}


.roadmap li {
    margin-top: 8px;
}

.filterblack {
    filter: drop-shadow(0 5px 5px rgb(8, 0, 15));
}



.lastsec {
    /* background: linear-gradient(transparent,rgb(0, 0, 0)); */
    /* background: linear-gradient(transparent,rgb(0, 128, 255)), url(./micronobg.png); */
    background-repeat: no-repeat;
    background-position: center;
    /* padding: 50px; */
    border-radius: 20px;
    /* border: 4px solid black; */
    /* background: linear-gradient(transparent,rgb(0, 110, 255)); */
    /* background: linear-gradient(transparent,rgb(218, 11, 255)); */

  
}


.lastsec  img {
    max-width: 300px;
}
.buylink {
    text-align: center;
}

.first {
    /* background:  url(./ejbgedit.png); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ejbgedit.png); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ethm1.jpg); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ejbg7.jpg); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0), transparent,rgba(0, 0, 0, 0), black), url(./ethm1.jpg); */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background: url(./micro.png); */
    background-size: cover;
    padding:40px;
    /* border-radius: 20px; */
    /* border: 4px solid black; */
    /* background: linear-gradient(rgb(0, 174, 255), rgb(0, 200, 255), rgb(0, 110, 255)); */
    /* background: linear-gradient(rgba(0, 174, 255, 0), rgb(0, 200, 255), rgb(0, 110, 255), rgba(0, 174, 255, 0)); */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    max-width: 1400px;
    margin: auto;
    /* background: linear-gradient(#ff00d04b, #0d00ff36, #0095ff47); */
    /* background:rgb(0, 110, 255); */
    /* box-shadow: 0 0 30px black; */
    /* border-bottom-right-radius: 0;
border-bottom-left-radius: 0; */

}

.first img {
    /* border-radius: 20px; */
}


.roadmap  {
    /* background:  url(./ejbgedit.png); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ejbgedit.png); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ethm1.jpg); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0.742), transparent,rgba(0, 0, 0, 0.627), black), url(./ejbg7.jpg); */
    /* background: linear-gradient(black, rgba(0, 0, 0, 0), transparent,rgba(0, 0, 0, 0), black), url(./ethm1.jpg); */

  
    background-repeat: no-repeat;
    background-position: center;
    /* background: url(./micro.png); */
    background-size: cover!important;
    padding:40px;
    /* border-radius: 20px; */
    border: 4px solid black;
    /* background:  url(./pawmap.png), linear-gradient(rgb(0, 174, 255), rgb(0, 200, 255), rgb(0, 110, 255)); */
    background: linear-gradient(rgb(0, 174, 255), rgb(0, 200, 255), rgb(0, 110, 255));

    max-width: 1400px;
    margin: auto;
    /* border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; */
}


.phase {
    /* background-color: rgba(0, 0, 0, 0.474); */
    padding: 30px;
    border-radius: 20px;
    /* background: linear-gradient(rgb(0, 174, 255), rgb(0, 200, 255), rgb(0, 110, 255)); */
        /* background: linear-gradient(rgb(255, 187, 0), rgb(255, 157, 0), rgb(255, 255, 255)); */

    border: 3px solid black;
    /* backdrop-filter: blur(55px);
    -webkit-backdrop-filter: blur(55px); */
    color: white;
    text-shadow: 0 2px 4px black;
    
    background: linear-gradient(rgb(20, 41, 200), transparent);
    border-radius: 20px;
    /* border: 4px solid rgb(255, 255, 255); */
    box-shadow:  0 0 20px black;

}

.roadmap h2 {
    font-size: 2rem;
}

.divider {
    height: 50px;
   
}

.sep {
    background-image: url(pixel-clouds-discord-divider-clouds.gif)!important;
    /* background-image: url(./divider2.gif); */
    
    /* background-image: url(./divider-stars.gif); */
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    height: 30px;
    /* filter: drop-shadow(0 0 20px rgb(255, 0, 255)); */
    max-width: 1400px;
    margin: auto;
        /* filter: drop-shadow(0 0 20px rgb(0, 123, 255));
    
        mask-image: linear-gradient(transparent, blue, transparent); */

}


.mainb {
    width: 100%;
    /* max-width: 1700px; */
    margin: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
    border-radius: 20px;
    /* border: 4px solid black; */
    max-width: 800px;;
    
}

.sectiontitle {
    color: white; 
    text-align: center;
    font-size: calc(20px + 5vw);
    text-shadow: 0 3px 6px black;
   
}

.sectiontitle2 {
    text-align: left;
    font-size: calc(20px + 5vw);
    text-shadow: 0 3px 6px black;
    color: white; 
   
}


.sectiontitle3 {
    text-align: center;
    font-size: calc(20px + 4vw);
    text-shadow: 0 3px 6px black;
    color: white; 
   
}

.sectiontitle4 {
    color:rgb(0, 250, 0);
    text-align: center;
    font-size: calc(20px + 5vw);
    
    text-shadow: 0 3px 6px black;
   
}
.sectiontitle5 {
    color: rgb(0, 0, 0); 
    text-align: center;
    font-size: calc(20px + 5vw);
    padding-left: 10px;
    padding-right: 10px;
    
    /* text-shadow: 0 3px 6px black; */
   
}
.vbbg {
    /* background: linear-gradient(rgb(168, 0, 214), transparent, rgb(136, 0, 255)), url(./vbulge3.png); */
    background: linear-gradient(rgb(168, 0, 214), transparent, #0095ff), url(./vbulge3.png);

    background-size: cover;
    border-radius: 20px;
    /* border: 5px solid rgb(220, 0, 220); */
    padding: 30px;
    min-height: 100%;
    /* box-shadow: 0 0 20px rgb(220, 0, 220) ; */
    border: 5px solid rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position-x: center;
    min-height: 700px;
    height: 100%;
}

.vbbg p {
    text-align: left!important;
    
}

/* .bottomcta {
      background: url(ejvid.gif);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 50px;
} */

.bottomcta p {
 
    text-align: center!important;
    font-size: calc(16px + 3vw);
    padding-left: calc(20px + 5vw);
    padding-right: calc(20px + 5vw);
  
}

span {
    font-size: calc(18px + 1vw);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
 display: block;
 border-radius: 20px;
 padding: 20px;
 /* box-shadow: 0 0 40px #0095ff; */
/* background-color: #a200ff3f;
border: 3px solid rgb(0, 0, 0); */
}
/* 
strong {
    min-width: 280px;
} */


#mask {
    position:absolute;
    left:0;
    top:0;
    z-index:9000;
    /* background-color:#000; */
      /* From https://css.glass */
  background: #000000ad;
  /* background: url(ejvid.gif); */
  background-size: contain;
  background-repeat: no-repeat;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  background-position: center;
  
    font-family: quinn;
  width: auto;
  
  
    display:none;
  }  
  #boxes .window {
    position:absolute;
    left:0;
   
    top:0;
    width:500px;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display:none;
    z-index:9999;
    padding:20px;
    border-radius: 15px;
    text-align: center;
    
  
 
  }
  #boxes #dialog {
    width:500px; 
    height:auto;
    padding:10px;
      /* From https://css.glass */
  background-color: #0000002b;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 20px;
  box-shadow: 0 0px 150px #a200ff;
  /* backdrop-filter: blur(34.6px);
  -webkit-backdrop-filter: blur(34.6px); */
  border: 1px solid rgba(0, 43, 255, 0.37);
  backdrop-filter: blur(65px);
  -webkit-backdrop-filter: blur(65px);
  
      font-family: quinn;
    font-size: 15pt;
  }
  .maintext{
      text-align: center;
      font-family: quinn;
    text-decoration: none;
    font-size: 30px;

  }
  .window h1 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
    padding: 20px;
    /* text-shadow: 0 3px 5px #b700ff; */
    letter-spacing: 2px;
  }
  
  #lorem{
        font-family: quinn;
      font-size: 20px;
    text-align: center;
    color: white;
    
    /* text-shadow: 1px 1px #39bded; */
  }
  #popupfoot{
        font-family: quinn;
      font-size: 16pt;
    padding: 10px 20px;
  }
  #popupfoot a{
      text-decoration: none;
  }
  .agree:hover{
   
  }
  .popupoption:hover{
  
  }
  .popupoption2:hover{
      
      
  }
  
  .agreebtn {
    border: 3px solid rgb(168, 0, 214);
    border-radius: 20px;
    color: white;
    box-shadow:inset 0 0 10px 0px rgb(168, 0, 214)!important;

    text-shadow: 2px 2px black;
    padding: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .nobtn {
    border: 3px solid #0095ff;
    border-radius: 10px;
    padding: 5px;
    box-shadow:inset 0 0 10px 0px #0d00ff!important;
    color: white;
    text-shadow: 2px 2px black;
    
  }
  .jart {
    margin: auto;
   
  }
  
 
  @media (min-width: 992px) {
    /* .mainb {
        margin-bottom: 50px;


    } */
     .first {
        /* min-height: 1000px; */
        background-size: cover;
        background-repeat: no-repeat;
        
       
     }

     

     /* .topwrap {
        box-shadow: 0 0 40px black;
      } */

  }

  @media (max-width: 1200px) {
  .featcontent {
    margin-bottom: 50px!important;
  }

}

  @media (min-width: 767px) {
.featwrap h1 {
    font-size: 30px!important;
 
}

.featcontent {
    min-height: 300px!important;
}
  }


  @media (max-width: 992px) {

    .first2 p {
     
         font-size: calc(20px + 0.5vw);
         /* text-shadow: 0 3px 6px black; */
        text-align: center;
     
          background: linear-gradient(rgb(20, 41, 200), transparent);
          border-radius: 20px;
          /* border: 4px solid rgb(255, 255, 255); */
          box-shadow:  0 0 20px black;
          padding: 15px;
          margin-top: 10px;
          
         
         
      
     }

    .radiusfix {
        border-radius: 0;
    }

    .first {
        border-radius: 0;
    }
  
  #mask {
    width: auto;
  }

  .jart {
    margin: auto;
    max-width: 250px;
  }
  
  
  #boxes .window {
    position:absolute;
    left:0!important;
    right: 0!important;
    top:0;
    width:300px!important;
    height:150px;
    display:none;
    z-index:9999;
    margin-left: auto!important; 
    margin-right: auto!important;
    border-radius: 15px;
    text-align: center;
    /* text-shadow: 1px 1px #39bded; */
  }
  
  }

  .lgmodal {
    max-width: 100px;
    margin: auto;
  }

 .tkcontent  {
    /* background:  url(./gradej.png); */
        /* background:  url(./ejmainlg.png); */

    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 20px;
    width: 100%;
 }

 .tkimg {
    mask-image: linear-gradient(black,black, transparent);
 }

 .bnav {
    padding-left: 30px;
    padding-right: 30px;
    color: #0095ff;
 }

.socials button {
    color: white;
    text-shadow: 0 5px 10px black!important;
 }


 /* .soc img {
    width: 90px;
    
    height: auto;
    margin-right: 20px;

    padding: 5px;
    z-index: 999!important;
    filter: drop-shadow(0 0 7px #000000)!important;
    
    
  
  } */

  .socchange {
    min-height: 90px;
    /* border: 3px solid rgb(255, 0, 234); */
    /* background: url(8bimages/lg3.png); */
    border-radius: 20px;
    max-width: 305px;
    margin:auto;
      backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    /* background: rgb(255, 217, 0); */
    /* background: rgba(255, 217, 0, 0.848); */
  padding-left: 25px;  
  /* background: linear-gradient(transparent, rgb(0, 51, 255)); */
  /* mask-image: linear-gradient(blue, transparent); */
  /* border:3px solid black; */
  background: linear-gradient(#ff00d04b, #0d00ff36, #0095ff47);
  }
  
  .socchange img {
    /* filter: drop-shadow(0 0 7px #000000)!important; */
    width: 50px;
    height: auto;
    margin-right: 20px;
    filter: drop-shadow(0 0 7px #ff00d0)!important;
    /* border: 3px solid black; */



   
  }


  .shapedividers_com-1843{
    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-1843::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 130px;
    background-position: 50% 100%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.1 35.28 2.17" preserveAspectRatio="none"><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" fill="%23fafafa"/></svg>'); 
    }
    
    @media (min-width:768px){
    .shapedividers_com-1843::before{
    background-size: 100% 204px;
    background-position: 50% 100%;   
    }  
    }
     
    @media (min-width:1025px){
    .shapedividers_com-1843::before{ 
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 100% 232px;
    background-position: 50% 0%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23ffffff"/></svg>'); 
    }
    }
    @media (min-width:2100px){
    .shapedividers_com-1843::before{
    background-size: 100% calc(2vw + 232px);
    }
    }
     
     

    .circle {
        /* width: 100px;
        height: 100px; */
        border-radius: 50%;
        /* background-color: greenyellow; */
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.431));
    }
    
    #reload {
        /* width: 50px;
        height: 50px; */
       width: 250px;
       height: auto;
    }

    .circle2 {
        /* width: 100px;
        height: 100px; */
        border-radius: 50%;
        /* background-color: greenyellow; */
        text-align: center;
        vertical-align: middle;
        display: table-cell;
    }
    
    #reload2 {
        /* width: 50px;
        height: 50px; */
       width: 250px;
       height: auto;
    }


    #reload3 {
        /* width: 50px;
        height: 50px; */
       width: 250px;
       height: auto;
    }

    #reload4 {
        /* width: 50px;
        height: 50px; */
       width: 250px;
       height: auto;
    }

    #reload5 {
        /* width: 50px;
        height: 50px; */
       width: 250px;
       height: auto;
    }

    .roadmap li:before {
        content: "\f00c"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: calc( var(--icon-space) * -1 );
        width: var(--icon-space);
      }

      

      /* copy to clip css */

      .visuallyhidden{position:absolute;clip:rect(1px,1px,1px,1px)}
.copybutton{background-color:#fff;border:0;outline:0;cursor:pointer;opacity:1;position:absolute;width:40px;height:40px;z-index:9;border-radius:24px}
.button-tooltip-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
    min-height: 30px;

}
#custom-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
}

#rec {
    position: absolute;
    width: 150px;
    height: 100px;
    /* background-color: #8894aa; */
    background-image: url(8bimages/lgcash4.png);
    background-size: contain;
    background-repeat: no-repeat;
  

}

.vidwrap {
    width: 400px;
}

#vid {
    width: 400px;
    border-radius: 20px;
    /* box-shadow: 0 0 70px rgb(242, 0, 255); */
    border: 3px solid black;
    box-shadow: 0 0 70px rgb(0, 0, 0);
}

.gametxt {
    font-size: calc(20px + 2vw);
    text-align: center;
    line-height: calc(20px + 2vw);
    margin-top: 20px;
}

.gametxt i {
    color: #000000;
    /* filter: drop-shadow(0 0 10px rgb(30, 0, 255))!important; */
}

.catxt {
    /* background-color: rgb(255, 255, 255); */
 
}
